<div class="card-group m-b-30">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-alert-circle text-warning"></i></h2>
                            <h3 class="">20</h3>
                            <h6 class="card-subtitle">Pedidos en Cola</h6></div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-briefcase-check text-info"></i></h2>
                            <h3 class="">32</h3>
                            <h6 class="card-subtitle">Pedidos Nuevos</h6></div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-wallet text-purple"></i></h2>
                            <h3 class="">157</h3>
                            <h6 class="card-subtitle">Productos Vendidos</h6></div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <!--
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="mdi mdi-buffer text-warning"></i></h2>
                            <h3 class="">$30010</h3>
                            <h6 class="card-subtitle">Total Earnings</h6></div>
                        <div class="col-12">
                            <ngb-progressbar [showValue]="false" type="warning" [value]="50"></ngb-progressbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    -->