<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Crear Subcategoría</h4>               
                    <form>
                        <div>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input id="name" name="name" class="form-control" required minlength="4" forbiddenName="bob">
                                <!--<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                                    <div *ngIf="name.errors.required"> Name is required. </div>
                                    <div *ngIf="name.errors.minlength"> Name must be at least 4 characters long. </div>
                                    <div *ngIf="name.errors.forbiddenName"> Name cannot be Bob. </div>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <label>Descripción</label>
                                <input id="" class="form-control" name="" > </div>
                            <div class="form-group">
                                <label>Categoría</label>
                                <input id="" class="form-control" name="" > </div>    
                            <button type="submit" class="btn btn-danger" >Guardar</button>
                            <button type="button" class="btn btn-inverse" >Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
                                <!-- ===================== -->
                                <!-- MODAL -->
                                <ng-template #content let-c="close" let-d="dismiss">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Detalle Subcategoría</h4>
                                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Subcategoría: </strong> SubA2</p>
                                        <p><strong>Descripción: </strong> Desde 10 a 15</p>
                                        <p><strong>Categoría: </strong> Categoría 1A</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
                                    </div>
                                </ng-template>
                                <!-- FIN MODAL -->
    <div class="card">
    <div class="card-body">
        <h4 class="card-title">Subcategorías</h4>
        <h6 class="card-subtitle">Listado de Subcategorías</h6> </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover earning-box">
                <thead>
                    <tr>
                        <th colspan="2">SubCategoría</th>
                        <th>Descripción</th>
                        <th>Categoría</th>
                        <th></th>
                   </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>45678</td>
                            <td><h6>SubA2</h6></td>
                            <td>Desde 10 a 15</td>
                            <td>Categoría 1A</td>
                            <td><button class="btn btn-success" type="button" (click)="open2(content)"><i class="fa fa-eye"></i></button></td>                        
                        </tr>                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>